spring:
  datasource:
    url: jdbc:mysql://deofis.c0j3cq5bdbwq.eu-west-2.rds.amazonaws.com/deofis_qa
    username: user_qa
    password: ENC(2ns5ABYULg5Mg6srSA5tefYRlkqAebbl)
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: false
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  mail:
    host: smtp.gmail.com
    port: 587
    username: deofis.github@gmail.com
    password: ENC(/qiwkv5cnDoUi6mhtHjSAQ41w+xl1vXw)
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            required: true
            auth: true

endpoints:
  baseUrl: https://api.deofisdev.online
  clientUrl: https://wantfrom-tienda.web.app

amazon:
  s3:
    bucketName: deofis-images-bucket
    endpoint: https://deofis-images-bucket.s3.eu-west-2.amazonaws.com/
    accessKey: ENC(6ik+s8LqW3b68c9K1eOX3yoxpeU6+LgcboZbr07ZANw=)
    secretKey: ENC(RkOXxN4A2LF+JrZGafMYlbNwY6JkcIdyPNv+vjahgcHfg0gTjm4i/fRt9SWM33RN46vY/N/50gg=)

jwt:
  expirationInMillis: 900000

server:
  port: ${PORT:5000}